
/*-----------------CONTAINER-------------------*/
.container {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: var(--color-background);

    display: flex;
}


/*-----------------MAP-------------------*/
.intro{
    width: 50%;
}



/*---------------FORM---------------------*/
.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container h1 {
    text-align: center;
    color: var(--color-text);
}

.container form {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: var(--color-text);
}

.container label {
    font-weight: bold;
    margin-top: 10px;
}

.container input,
.container textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.container textarea{
    resize: vertical;
}

.container button {
    margin-top: 15px;
    padding: 10px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0050c3;
}